[global]
type=global
user_agent=AnshinPhone-Phase1

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060
external_media_address=__PUBLIC_SIP_IP__
external_signaling_address=__PUBLIC_SIP_IP__
local_net=10.0.0.0/8
local_net=172.16.0.0/12
local_net=192.168.0.0/16

[carrier-auth]
type=auth
auth_type=userpass
username=__CARRIER_SIP_USERNAME__
password=__CARRIER_SIP_PASSWORD__

[carrier-aor]
type=aor
contact=sip:__CARRIER_HOST__:__CARRIER_PORT__
qualify_frequency=30

[carrier-endpoint]
type=endpoint
transport=transport-udp
context=from-carrier
disallow=all
allow=ulaw
allow=alaw
outbound_auth=carrier-auth
aors=carrier-aor
from_user=__TEL_DID__
send_pai=yes
trust_id_inbound=yes
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
t38_udptl=yes
t38_udptl_ec=redundancy

__CARRIER_IDENTIFY_BLOCK__

__CARRIER_REGISTRATION_BLOCK__

[__SMARTPHONE_EXTENSION__-auth]
type=auth
auth_type=userpass
username=__SMARTPHONE_EXTENSION__
password=__SMARTPHONE_SIP_PASSWORD__

[__SMARTPHONE_EXTENSION__-aor]
type=aor
max_contacts=1
remove_existing=yes
qualify_frequency=30

[__SMARTPHONE_EXTENSION__]
type=endpoint
transport=transport-udp
context=from-smartphone
disallow=all
allow=ulaw
allow=alaw
auth=__SMARTPHONE_EXTENSION__-auth
aors=__SMARTPHONE_EXTENSION__-aor
callerid=Anshin Phase1 <__TEL_DID__>
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
